<p>view works!</p>
<div class="p-d-flex">

  <p-listbox [options]="countries" [(ngModel)]="selectedCountries"
             [metaKeySelection]="false" [checkbox]="true" [filter]="true"
             [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}"
             [style]="{'width':'15rem'}">
    <ng-template let-country pTemplate="item">
      <div class="country-item">
        <div>{{country.name}}</div>
      </div>
    </ng-template>
  </p-listbox>
  <p-listbox [options]="countries" [(ngModel)]="selectedCountries"
             [metaKeySelection]="false" [checkbox]="true" [filter]="true"
             [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}"
             [style]="{'width':'15rem'}">
    <ng-template let-country pTemplate="item">
      <div class="country-item">
        <div>{{country.name}}</div>
      </div>
    </ng-template>
  </p-listbox>

</div>
